*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
}

/* altri colori di sfondo */

#main_color_1{
    background-color: #1f1f1f;
}

#main_color_2{
    background-color: #bebcbb;
}

#main_color_3{
    background-color: #161c3b;
}

#main_color_4{
    background-color: #00439c;
}

/* header */

header{
    position: sticky;
    top: 0;
}

header #header_logo img{
    width: 80px;
}

#the_nav a{
    color: black;
}

.dropdown-toggle img{
    height: 11px;
}
 
.dropdown-toggle::after{
    display: none;
}

.chevron_hover{
    display: none;
}

#the_nav a:hover{
    color: #0070d1;
}

.nav-item > a:hover .chevron_hover{
    display: inline-block;
}

.nav-item > a:hover .chevron_solid{
    display: none;
}

#lente{
    width: 20px;
    margin-left: 20px;
}

#the_nav #right_side button{
    background-color: #363636;
    border-radius: 20px;
    padding: 0 11px;
    border: 2px solid #363636; 
    outline: 2px solid #363636;
    transition: .3s;
}

#the_nav #right_side button:hover{
    border: 2px solid white; 
    outline: 2px solid #363636;
    cursor: pointer;
}

/* main */

/* the_hero1 */

#the_hero1 .container-fluid{
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
}

#the_hero1 img{
    width: 220px;
    margin-bottom: 30px;
}

#the_hero1 .hero_paragraph{
    font-size: large;
}

@media screen and (min-width:992px) {
    #the_hero1 .hero_paragraph {
        width: 440px
    }
}

#the_hero1 .hero_txt button{
    background-color: #cd3d0f;
    border-radius: 20px;
    padding: 7px 13px;
    border: 2px solid #cd3d0f; 
    outline: 2px solid #cd3d0f; 
    transition: .3s; 
}

#the_hero1 .hero_txt button:hover{
    border: 2px solid black; 
    outline: 2px solid #cd3d0f;
    cursor: pointer;
}

/* game_cards1 */

#game_cards1 .row img{
    border-radius: 20px;
    padding: 4px;
    border: 2px;
    transition: 0.3s;
    border: 2px solid white;
}

#game_cards1 .row .special_pic{
    border-radius: 20px;
    padding: 4px;
    border: 2px solid #0070d1;
}

#game_cards1 .row img:hover{
    margin-top: -10px !important;
    cursor: pointer;
}

/* hero_title1 */

#hero_title1 span{
    font-size: small;
    color: #0070d1;
}

#hero_title1 h1{
    font-size: 40px
}

#hero_title1 p{
    color: grey;
    font-size: larger;
    margin: 15px 0;
}

/* playstation_colonne */

#playstation_colonne h1{
    font-size: 35px;
}

#playstation_colonne p{
    color: grey;
    font-size: larger;
    margin: 15px 0;
}

#playstation_colonne button{
    background-color: #0070d1;
    border-radius: 20px;
    padding: 7px 13px;
    border: 2px solid #0070d1; 
    outline: 2px solid #0070d1;
    transition: .3s;
}

#playstation_colonne button:hover{
    border: 2px solid white; 
    outline: 2px solid #0070d1;
    cursor: pointer;
}


/* device_cards1 */

@media screen and (min-width:992px) {
    #device_cards1 img {
        width: 120px;
        height: 120px;
    }
}

#device_cards1 .card{
    transition: 0.7s;
}

#device_cards1 .card:hover{
    opacity: 1 !important;
}


#device_cards1 #special {
    border-bottom: 2px solid #0070d1 !important;
}