*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
}

/* altri colori di sfondo */

#main_color_1{
    background-color: #1f1f1f;
}

#main_color_2{
    background-color: #bebcbb;
}

#main_color_3{
    background-color: #161c3b;
}

#main_color_4{
    background-color: #00439c;
}

/* header */

header{
    position: sticky;
    top: 0;
}

header #header_logo img{
    width: 80px;
}

#the_nav a{
    color: black;
}

.dropdown-toggle img{
    height: 11px;
}
 
.dropdown-toggle::after{
    display: none;
}

.chevron_hover{
    display: none;
}

#the_nav a:hover{
    color: #0070d1;
}

.nav-item > a:hover .chevron_hover{
    display: inline-block;
}

.nav-item > a:hover .chevron_solid{
    display: none;
}

#lente{
    width: 20px;
    margin-left: 20px;
}

#the_nav #right_side button{
    background-color: #363636;
    border-radius: 20px;
    padding: 0 15px;
}

/* main */

#the_hero1 .container-fluid{
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
}

#the_hero1 img{
    width: 220px;
    margin-bottom: 30px;
}

#the_hero1 .hero_paragraph{
    font-size: large;
}

@media screen and (min-width:992px) {
    #the_hero1 .hero_paragraph {
        width: 440px
    }
}

#the_hero1 .hero_txt button{
    background-color: #cd3d0f;
    border-radius: 20px;
    padding: 9px 15px;
    border: none;
}