*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
}

/* altri colori di sfondo */

#main_color_1{
    background-color: #1f1f1f;
}

#main_color_2{
    background-color: #bebcbb;
}

#main_color_3{
    background-color: #161c3b;
}

#main_color_4{
    background-color: #00439c;
}

/* header */

header{
    position: sticky;
    top: 0;
    z-index: 1;
}

header #header_logo img{
    width: 80px;
}

#the_nav a{
    color: black;
}

.dropdown-toggle img{
    height: 11px;
}
 
.dropdown-toggle::after{
    display: none;
}

.chevron_hover{
    display: none;
}

#the_nav a:hover{
    color: #0070d1;
}

.nav-item > a:hover .chevron_hover{
    display: inline-block;
}

.nav-item > a:hover .chevron_solid{
    display: none;
}

#lente{
    width: 20px;
    margin-left: 20px;
}

#the_nav #right_side button{
    background-color: #363636;
    border-radius: 20px;
    padding:  0px 10px;
    border: 2px solid #363636; 
    outline: 2px solid #363636;
    transition: .3s;
    margin-left: 10px;
}

#the_nav #right_side button:hover{
    border: 2px solid white; 
    outline: 2px solid #363636;
    cursor: pointer;
}


/* bonus dropdown-menu */    /* -------------------------------------------- */

#bonus_menu1 hr{
    color: grey;
}

#bonus_menu1 .card:hover{
    box-shadow: 0px 0px 18px #bebcbb;
}    

#bonus_menu1 ul li::marker {
    color: #0070d1;
}

#bonus_menu1 ul li span {
    left: -30px;
}

#bonus_menu1 ul li span a{
    text-decoration: none;
    color: black;
}

.menu_pic{
    width: 70px;
}


#bonus_menu1{
    left: -145px;
    width: 100vw;
    top: unset!important;
    background-color: white;
    border:none;
    margin-top: .5rem !important; 
}

#nav_giochi img{
    transition: 0.3s;
}

#nav_giochi:focus img{
    transform: rotate(-180deg);
}


/* main */

/* the_hero1 */

#the_hero1 .container-fluid{
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
}

#the_hero1 img{
    width: 220px;
    margin-bottom: 30px;
}

#the_hero1 .hero_paragraph{
    font-size: large;
}

@media screen and (min-width:992px) {
    #the_hero1 .hero_paragraph {
        width: 440px
    }
}

#the_hero1 .hero_txt button{
    background-color: #cd3d0f;
    border-radius: 20px;
    padding: 7px 13px;
    border: 2px solid #cd3d0f; 
    outline: 2px solid #cd3d0f; 
    transition: .3s; 
}

#the_hero1 .hero_txt button:hover{
    border: 2px solid black; 
    outline: 2px solid #cd3d0f;
    cursor: pointer;
}

/* game_cards1 */

#game_cards1 .row img{
    border-radius: 20px;
    padding: 4px;
    border: 2px;
    transition: 0.3s;
    border: 2px solid white;
}

#game_cards1 .row .special_pic{
    border-radius: 20px;
    padding: 4px;
    border: 2px solid #0070d1;
}

#game_cards1 .row img:hover{
    margin-top: -10px !important;
    cursor: pointer;
}

/* hero_title1 */

#hero_title1 span{
    font-size: small;
    color: #0070d1;
}

#hero_title1 h1{
    font-size: 40px
}

#hero_title1 p{
    color: #727272;
    font-size: larger;
    margin: 15px 0;
}

/* playstation_colonne */

#playstation_colonne h1{
    font-size: 35px;
}

#playstation_colonne p{
    color: #727272;
    font-size: larger;
    margin: 15px 0;
}

#playstation_colonne button{
    background-color: #0070d1;
    border-radius: 20px;
    padding: 7px 13px;
    border: 2px solid #0070d1; 
    outline: 2px solid #0070d1;
    transition: .3s;
}

#playstation_colonne button:hover{
    border: 2px solid white; 
    outline: 2px solid #0070d1;
    cursor: pointer;
}

/* device_cards1 */

@media screen and (min-width:992px) {
    #device_cards1 img {
        width: 120px;
        height: 120px;
    }
}

#device_cards1 .card{
    transition: 0.7s;
}

#device_cards1 .card:hover{
    opacity: 1 !important;
}


#device_cards1 #special {
    border-bottom: 2px solid #0070d1 !important;
}

/* the_hero2 */


#the_hero2 .container-fluid{
    height: 600px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
}

#the_hero2 img{
    width: 180px;
    margin-bottom: 30px;
}

#the_hero2 .hero_paragraph{
    font-size: 16px;
}

@media screen and (min-width:992px) {
    #the_hero2 .hero_txt {
        width: 350px
    }
}

#the_hero2 .hero_txt button{
    background-color: #cd3d0f;
    border-radius: 20px;
    padding: 7px 13px;
    border: 2px solid #cd3d0f; 
    outline: 2px solid #cd3d0f; 
    transition: .3s; 
}

#the_hero2 .hero_txt button:hover{
    border: 2px solid black; 
    outline: 2px solid #cd3d0f;
    cursor: pointer;
}

/* game_cards2 */

#game_cards2 h1{
    font-size: 35px;
}

#game_cards2 h2{
    font-size: 22px;
}

#game_cards2 p{
    width: 75%;
}

#game_cards2 img{
    border-radius: 20px;
}

/* hero_title2 */

#hero_title2 span{
    color: #727272;
    font-size: larger;
}

#hero_title2 h1{
    font-size: 40px;
    padding: 20px;
    padding-top: 70px;
}

/* device_cards2 */

#device_cards2 h5{
    font-size: 30px;
}

#device_cards2 p{
    color: #727272;
}

#device_cards2  a{
    background-color: #0070d1;
    border-radius: 20px;
    padding: 4px 10px;
    border: 2px solid #0070d1; 
    outline: 2px solid #0070d1;
    transition: .3s;
}

#device_cards2  a:hover{
    border: 2px solid white; 
    outline: 2px solid #0070d1;
    cursor: pointer;
}

/* banner1 */

#banner1 #logo{ 
    width: 300px;
}

#banner1 button{
    color: #0070d1 !important; 
    background-color: #d9dadc;
    border-radius: 20px;
    padding: 4px 10px;
    border: 2px solid #d9dadc; 
    outline: 2px solid #d9dadc;
    transition: .3s;
}

#banner1 button:hover{
    border: 2px solid #bebcbb; 
    outline: 2px solid #d9dadc;;
    cursor: pointer;
}

/* hero_title3 */

#hero_title3 span{
    color: #727272;
    margin-top: 20px;
}

/* box_sconti */

/* banner2 */

#banner2 #logo{ 
    width: 300px;
}

#banner2 button{
    color: black !important; 
    background-color: #d9dadc;
    border-radius: 20px;
    padding: 4px 10px;
    border: 2px solid #d9dadc; 
    outline: 2px solid #d9dadc;
    transition: .3s;
}

#banner2 button:hover{
    border: 2px solid #161c3b; 
    outline: 2px solid #d9dadc;;
    cursor: pointer;
}

/* social */

#social img:hover{
    cursor: pointer;
}

/* footer */

footer #play_logo{
    width: 130px;
}

footer #play_logo2{
    width: 170px;
    margin-bottom: 10px;
}

footer li{
    list-style: none;
    padding: .3rem;
}